<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csulb.android.projecthomies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/projecthomies_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:statusBarColor="@android:color/black"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="edu.csulb.android.projecthomies.HomePage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contacs.ContactDetailedViewActivity"
            android:label="@string/title_activity_detailed_contact_view"
            android:parentActivityName=".contacs.ContactsPage">
            <intent-filter>
                <action android:name="edu.csulb.android.projecthomies.DetailedContactView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contacs.ContactNewViewActivity"
            android:label="@string/title_activity_new_contacts"
            android:parentActivityName=".HomePage">
            <intent-filter>
                <action android:name="edu.csulb.edu.android.projecthomies.NewContactView"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".contacs.ContactEditViewActivity"
            android:label="@string/title_activity_edit_contact"
            android:parentActivityName=".contacs.ContactDetailedViewActivity">
            <intent-filter>
                <action android:name="edu.csulb.android.projecthomies.EditContactView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contacs.ContactsPage"
            android:label="@string/title_activity_contacts_page"
            android:parentActivityName=".HomePage">
            <intent-filter>
                <action android:name="edu.csulb.android.projecthomies.ContactsPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddReminder"
            android:label="Add Reminder"
            android:parentActivityName=".HomePage">
        </activity>
        <service android:name="AlarmService" />
        <service android:name=".AlarmNotificationService" />
        <activity
            android:name=".events.AddEvent"
            android:label="Add Event">
        </activity>
        <activity android:name=".events.CalenderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
